# Cloudinary Settings
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# MongoDB Settings
MONGODB_URL=mongodb+srv://<username>:<password>@cluster.mongodb.net/pr7security?retryWrites=true&w=majority
DATABASE_NAME=pr7security

# Security Settings
SECRET_KEY=your_super_secret_key_for_jwt
ACCESS_TOKEN_EXPIRE_MINUTES=1440
